


/* hero */

.hero {
    /* background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab); */
    /* background-size: 400% 400%;
    animation: gradient 15s ease infinite; */
    /* display: flex;
    justify-content: center; */
    /* color: rgb(142, 151, 151);
    font-family: 'Days One', sans-serif; */
    
    
}

.hero-intro, #name , #title {
    font-size: 32px;
    font-family: 'Caveat';
    color: black;

}


.hero-body {
   text-align: center;
   
}
 #name { 
    font-size: 50px;
} 



.h1 , .title {
    font-family: 'Caveat';
    
  
    
}


.title {
    font-size: 80px;
    color: black;
}

.section-heading {
    text-align: center;
      font-size: 32px;
}

#parallax { 
    background-image: url(./images/work\ \(1\).jpg);

     min-height: 500px; 
    background-attachment: fixed; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} 

/* contact */

#contact-box{

  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}




@media only screen and (max-width: 400px) {
 /* #parallax {
    background-image: url(./images/work\ \(1\).jpg);
    /* position: cover; */
    
 #contact-box{

  margin: 0;
  position: absolute;
  top: 20%;
  left: 20%;
  -ms-transform: translate(-20%, -20%);
  transform: translate(-20%, -20%);
  display: flex;
  justify-content: space-evenly;
}

  


}


