

/* hero */

.hero-intro, #name , #title {
    font-size: 50px;
    font-family: 'Caveat';
    color: #3a3939;;

}

.hero-body {
   text-align: center;
   
}
 #name { 
    font-size: 70px;
    color: #3a3939;
    text-shadow: 4px 3px 0 #b8b5b5;
} 




.h1 , #name, .title {
    font-family: 'Caveat';
    
}
.id, .about {
    font-size: 20px;
    text-align: center;

}

.skills-box{
    width: 50%;
  

}



.title {
    font-size: 80px;
    color: black;
}

.section-heading {
    text-align: center;
      font-size: 32px;
}

/* .section-image {
    /* filter: drop-shadow(0 0 0.75rem rgb(105, 98, 100)); */
}



/* 
#parallax {
    background-image: url(./images/mac.jpg);
     min-height: 500px; 
    background-attachment: fixed; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}  */
    

.




/* resume */

#resume {
    width: 100%;
    display: flex;
    justify-content: center;
}

/* contact */

#contact-box {

  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}






@media only screen and (max-width: 768px) {
  #parallax {
    background-image: url(./images/mac.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   

  

   

    
 
  }
 #contact-box{

  margin: 0;
  position: absolute;
  top: 20%;
  left: 20%;
  -ms-transform: translate(-20%, -20%);
  transform: translate(-20%, -20%);
  display: flex;
  justify-content: space-evenly 
}

 
#name {
    font-size: 55px;
}


.hero-intro,  #title {
    font-size: 30px;
    font-family: 'Caveat';
    color: black;

}

.about {
    font-size: 20px;
}

 }


 @media only screen and (max-width: 500px) {
    #parallax {
    background-image: url(./images/mac.jpg);
     min-height: 300px; 
    background-attachment: fixed; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
  }
    
 #contact-box {

  margin: 0;
  position: absolute;
  top: 20%;
  left: 20%;
  -ms-transform: translate(-20%, -20%);
  transform: translate(-20%, -20%);
  display: flex;
  justify-content: space-evenly; 
}

 }



